<h2> Add your new business below: </h2>

<p>
    <form action="/businesses" method="POST"

        <label for="name"> Name </label>
        <input type="text" id="name" name="name">
        <br><br>

        <label for="location"> Location </label>
        <input type="text" id="location" name="location">
        <br><br>

        <input type="submit" value="Save">
        
    </form>
    
    <br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>