<h2> Welcome <%= current_user.name %>. Your business(es): </h2>

<p>
    <% if current_user.businesses.empty? %>
        <h4> "You currently do not own any businesses" </h4>
    <% else %>
        <% current_user.businesses.each do |business| %>
            <b>Name: </b><a href="/businesses/<%=business.id%>"><%= business.name %></a>
            <br>
            <b>Location: </b><%= business.location %>
            <br><br><br>
        <% end %>
    <% end %>
    <a href="/businesses/new"><button> Add a Business</button></a>
    <% if !current_user.businesses.empty? %>
        <br><br><a href="/employees"><button>View employees</button></a>
    <% end %>
    <br><br><br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>