<h2> 
    Schedule for <%=@business.name%>
    <h5>
        <%=@business.location%>
    </h5>
</h2>


<p>
    show employee schedule

    <br><br><a href="/businesses/<%=@business.id%>/edit"><button>Edit business</button></a>
    <br><br><a href="/employees/new"><button>Add an Employee</button></a>

    <br><br><br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>

