<h2> Add employee below: </h2>

<p>
    <form action="/employees" method="POST"

        <label for="name"> <b>Name</b> </label>
        <input type="text" id="name" name="name">
        <br><br>

        <label for="address"> <b>Address</b> </label>
        <input type="text" id="address" name="address">
        <br><br>

        <label for="phone_number"> <b>Phone Number</b> </label>
        <input type="text" id="phone_number" name="phone_number">
        <br><br>

        <b>Enter Employee Schedule:</b> <br>
        <small> (example: 9AM - 5PM) </small> <br><br>
        <label for="monday_sched">Monday</label>
        <input type="text" id="monday_sched" name="monday_sched">
        <br><br>

        <label for="tuesday_sched">Tuesday</label>
        <input type="text" id="tuesday_sched" name="tuesday_sched">
        <br><br>

        <label for="wednesday_sched">Wednesday</label>
        <input type="text" id="wednesday_sched" name="wednesday_sched">
        <br><br>

        <label for="thursday_sched">Thursday</label>
        <input type="text" id="thursday_sched" name="thursday_sched">
        <br><br>

        <label for="friday_sched">Friday</label>
        <input type="text" id="friday_sched" name="friday_sched">
        <br><br>

        <label for="saturday_sched">Saturday</label>
        <input type="text" id="saturday_sched" name="saturday_sched">
        <br><br>

        <label for="sunday_sched">Sunday</label>
        <input type="text" id="sunday_sched" name="sunday_sched">
        <br><br>

        <b>Place of Employment:</b>
        <br><br>
        <% Business.all.each do |business| %>
            <label for="<%= business.name %>"><%= business.name %></label>
            <input type="radio" name="business" id="<%= business.name %>" value="<%= business.id %>">
            <br>
        <% end %>
        <br><br>

        <input type="submit" value="Save">
        
    </form>
    
    <br><br><br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>