<h2> Add employee below: </h2>

<p>
    <form action="/employees" method="POST"

        <label for="name"> <b>Name</b> </label>
        <input type="text" id="name" name="name">
        <br><br>

        <label for="address"> <b>Address</b> </label>
        <input type="text" id="address" name="address">
        <br><br>

        <label for="phone_number"> <b>Phone Number</b> </label>
        <input type="text" id="phone_number" name="phone_number">
        <br><br>

        <label for="schedule"> <b>Schedule</b> </label>
        <input type="text" id="schedule" name="schedule">
        <br><br><br>

        <input type="submit" value="Save">
        
    </form>
    
    <br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>