<h2> 
    Details for <%=@employee.name%>
</h2>


<p>
    Address: <%=@employee.address%>
    <br><br>
    Phone Number: <%=@employee.phone_number%>
    <br><br>
    Place of Work: <%=@employee.business.name%>
    <br><br>
    Schedule: <%@employee.schedule%>

    <br><br><br><br><br><br>
    <a href="/logout"><button> Logout </button> </a>
</p>
