<div class="container">
  <header>
  </header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Employee Schedule</h2>

    <div class="content">
      <p>
      Please <a href="/signup"><input type="button" value=" Sign Up "></a> or <a href="/login"><input type="button" value=" Login "></a>
      </p>
    </div>

  </div>
</div>
